<ion-header>
  <ion-toolbar>
    <ion-title>Headlines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide>
            <ion-chip color="primary" class="category" *ngFor="let category of categories" (click)="onGetCategoryData(category)">
              <ion-label>{{category}}</ion-label>
            </ion-chip>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-articles [news]="news"></app-articles>
</ion-content>