<ion-header>
  <ion-toolbar>
    <ion-title>Source</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-articles [news]="news"></app-articles>
</ion-content>