<ion-header>
  <ion-toolbar>
    <ion-title>Sources</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="term"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row *ngIf="!sources">
      <ion-col size=12 *ngFor="let sources of fakeSources">
        <ion-skeleton-text width="35%"></ion-skeleton-text>
        <ion-skeleton-text width="70%"></ion-skeleton-text>
        <ion-skeleton-text width="100%"></ion-skeleton-text>
        <ion-skeleton-text width="80%"></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="sources">
      <ion-col size=12 size-md="6" *ngFor="let source of sources | search: term">
        <ion-list>
          <ion-item-sliding>
            <ion-item color="light" href="/tabs/(sources:sources/{{source.id}})">
              <ion-label text-wrap>
                <ion-text>
                  <h2>{{source.name}} <ion-badge>{{source.category}}</ion-badge>
                  </h2>
                </ion-text>
                <ion-text>
                  <p>{{source.description}}</p>
                </ion-text>
              </ion-label>
              <!-- <ion-icon name="arrow-forward" slot="end"></ion-icon> -->
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option (click)="favorite(source)">Favorite</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>