<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-content>
            <ion-card-title>News App</ion-card-title>
            <h2>Get breaking news headlines, and search for articles from over 30,000 news sources and blogs with our
              news app.</h2>
          </ion-card-content>
        </ion-card>

        <ion-button expand="full" color="danger" (click)="onClearFavorites()">Clear Favorites</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>