<ion-tabs>
  <ion-tab label="Top News" icon="flash" href="/tabs/(top-news:top-news)">
    <ion-router-outlet name="top-news"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Headlines" icon="globe" href="/tabs/(headlines:headlines)">
    <ion-router-outlet name="headlines"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Sources" icon="list-box" href="/tabs/(sources:sources)">
    <ion-router-outlet name="sources"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Favorites" icon="star" href="/tabs/(favorites:favorites)">
    <ion-router-outlet name="favorites"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Settings" icon="settings" href="/tabs/(settings:settings)">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>
</ion-tabs>