<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onRefresh()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row *ngIf="sources">
      <ion-col size=12 size-md="6" *ngFor="let source of sources">
        <ion-list>
          <ion-item-sliding>
            <ion-item color="light" href="/tabs/(sources:sources/{{source.id}})">
              <ion-label text-wrap>
                <ion-text>
                  <h2>{{source.name}} <ion-badge>{{source.category}}</ion-badge>
                  </h2>
                </ion-text>
                <ion-text>
                  <p>{{source.description}}</p>
                </ion-text>
              </ion-label>
              <!-- <ion-icon name="arrow-forward" slot="end"></ion-icon> -->
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option (click)="Unfavorite(source)">Unfavorite</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>