<ion-header>
  <ion-toolbar>
    <ion-title>Top News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-articles [news]="news"></app-articles>
</ion-content>